[submodule "postgres/lib/postgres"]
	path = postgres/lib/postgres
	url = https://github.com/docker-library/postgres.git
[submodule "postgres/lib/cstore_fdw"]
	path = postgres/lib/cstore_fdw
	url = https://github.com/citusdata/cstore_fdw.git
